<app-header></app-header>

<ng-template #headerTmpl>
  <div nz-row nzJustify="space-between">
    <div nz-col nzFlex="initial">
      <div nz-row>
        <div nz-col>
          <input
            placeholder="ძებნა"
            nz-input
            [ngModel]="search"
            (ngModelChange)="filter($event)"
          />
        </div>
        <a nz-button nzType="link" (click)="advancedFilter = !advancedFilter">გაფართოებული ძიება</a>
      </div>

    </div>
    <div nz-col nzFlex="initial">
      <button nz-button nzType="primary" (click)="add()">
        <i nz-icon nzType="plus"></i>
        დამატება
      </button>
    </div>
  </div>

  @if (advancedFilter){
  <nz-divider></nz-divider>
  <div nz-row [nzGutter]="10" [formGroup]="searchForm">
    <div nz-col nzFlex="initial">
      <input
        placeholder="სახელი"
        nz-input
        formControlName="firstName"
      />
    </div>
    <div nz-col nzFlex="initial">
      <input
        placeholder="გვარი"
        nz-input
        formControlName="lastName"
      />
    </div>
    <div nz-col nzFlex="initial">
      <input
        placeholder="პირადი ნომერი"
        nz-input
        formControlName="personalNumber"
      />
    </div>
    <div nz-col nzFlex="initial">
      <input
        placeholder="მობილური"
        nz-input
        formControlName="phoneNumber"
      />
    </div>
    <div nz-col nzFlex="initial">
      <input
        placeholder="იურიდიული მისამართი"
        nz-input
        formControlName="legalAddress"
      />
    </div>
    <div nz-col nzFlex="initial">
      <input
        placeholder="ფაქტიური მისამართი"
        nz-input
        formControlName="actualAddress"
      />
    </div>
    <div nz-col nzFlex="initial">
      <nz-space>
        <button *nzSpaceItem nz-button nzType="primary" (click)="advancedSearch()">
          <i nz-icon nzType="search"></i>
          ძებნა
        </button>

        <button *nzSpaceItem  nz-button nzType="default" (click)="resetSearch()">
          <i nz-icon nzType="close"></i>
          გასუფთავება
        </button>
      </nz-space>
    </div>
  </div>
  }
</ng-template>

<nz-table
  [nzTitle]="headerTmpl"
  #customersTable
  [nzData]="(customers$ | async)?.data || []"
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="page"
  (nzQueryParams)="paginationChange($event)"
>
  <thead>
  <tr>
    @for (column of columns;track column.columnKey) {
    <th [nzColumnKey]="column.columnKey" [nzShowSort]="column.sort" [nzSortFn]="column.sort">{{ column.name }}</th>
    }
  </tr>
  </thead>
  <tbody>
  @for (data of customersTable.data;track data.id) {
  <tr>
    @for (column of columns;track  column.columnKey) {
  <td>
    @if (column.columnKey === 'actions') {
    <button
                (click)="add(data.id)"
                nz-button

              >
                <span nz-icon nzType="edit" nzTheme="outline"></span>
              </button>

              <button
                (click)="delete(data.id)"
                nz-button
                nzDanger
              >
                <span nz-icon nzType="delete"></span>
              </button>
    } @else {
    {{ data && data[column?.columnKey] }}
    }
  </td>
  }

  </tr>
  }
  </tbody>
</nz-table>
